*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
}

div, section{
    box-sizing: border-box;
}

/*css reset*/

section{
    width: 100%;
    float: left;
    height: 100vh;
}

#home{
    background-color: aqua;
}

#about{
    background-color: aquamarine;
}

#contact{
    background-color: blue;
}

#headcon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}